*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  font-size: var(--text-md);
  line-height: 1.6;
  background: var(--color-bg);
  color: var(--color-fg);
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-xl);
}